<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a routerLink="/home" routerLinkActive="active" class="item">
      {{ 'Home.menuTitle' | translate }}
    </a>
    <a routerLink="/about" routerLinkActive="active" class="item">
      {{ 'AboutUs.menuTitle' | translate }}
    </a>
    <a routerLink="/products" routerLinkActive="active" class="item">
      {{ 'Catalog.menuTitle' | translate }}
    </a>
    <a routerLink="/cart" routerLinkActive="active" class="item">
      {{ 'Cart.menuTitle' | translate }} 
      <span class="products-quantity" *ngIf="cartProductQuantity > 0">{{ cartProductQuantity }}</span>
    </a>
    <div ngbDropdown class="d-inline-block">
      <button class="btn item" id="langSwitch" ngbDropdownToggle>{{ 'Lang.currentLang' | translate }}</button>
      <ul class="dropdown-menu" aria-labelledby="langSwitch">
        <li *ngFor="let lang of translate.getLangs()"
        class="dropdown-item"
        (click)="translate.use(lang)">{{ lang }}</li>
      </ul>
    </div>
  </div>
</div>