<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a routerLink="/home" routerLinkActive="active" class="item">
      {{ 'Home.menuTitle' | translate }}
    </a>
    <a routerLink="/about" routerLinkActive="active" class="item">
      {{ 'AboutUs.menuTitle' | translate }}
    </a>
    <a routerLink="/products" routerLinkActive="active" class="item">
      {{ 'Catalog.menuTitle' | translate }}
    </a>
    <a routerLink="/cart" routerLinkActive="active" class="item">
      {{ 'Cart.menuTitle' | translate }} 
      <span class="products-quantity" *ngIf="cartProductQuantity > 0">{{ cartProductQuantity }}</span>
    </a>
  </div>
</div>