<div *ngIf="!cartProducts.length" class="center-block">В корзине пока нет товаров...</div>
<div *ngIf="cartProducts.length">
  <table class="table">
    <thead>
      <tr>
        <th>Имя товара</th>
        <th>Цена товара</th>
        <th>Количество</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartproduct of cartProducts">
        <td>{{ cartproduct.product.name }}</td>
        <td>{{ cartproduct.product.price | currency:'USD':true:'1.2-2' }}</td>
        <td><input type="number" 
        class="form-control" 
        id="quantity{{ cartproduct.product.id }}"
        value="{{ cartproduct.quantity }}"
        required
        [ngModel]="cartproduct.quantity" name="quantity" #quantity="ngModel"
        (ngModelChange)="cartProductsQuantityChanged(cartproduct)">
        </td>
        <td>{{ cartproduct.product.price * cartproduct.quantity | currency:'USD':true:'1.2-2' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td>Сумма:</td>
      <td>{{ getTotalSum() | currency:'USD':true:'1.2-2' }}</td>
    </tfoot>
  </table>
  <button type="button" class="btn btn-success btn-lg float-right" (click)="checkout()">Checkout</button>
</div>
<a routerLink="/products" routerLinkActive="active" class="btn btn-success btn-lg">Перейти в каталог</a>