<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a routerLink="/home" routerLinkActive="active" class="item">
      Home
    </a>
    <a routerLink="/about" routerLinkActive="active" class="item">
      About
    </a>
    <a routerLink="/products" routerLinkActive="active" class="item">
      Products
    </a>
    <a routerLink="/article" routerLinkActive="active" class="item">
      Article
    </a>
  </div>
</div>
<app-selfclosing-alert></app-selfclosing-alert>
<router-outlet></router-outlet>
