<div class="center-container">
	<div class="loader-container" *ngIf="pending">
		<div>{{ 'Catalog.pendingMessage' | translate }}</div>
		<div class="loader-products"></div>
	</div>
</div>
<div class="ui grid posts products-container" [ngClass]="{'opacity15' : pending}">
	<pagination-controls class="products-pagination" (pageChange)="p = $event"></pagination-controls>
	<app-product *ngFor="let product of products | quantityFilter | paginate: { itemsPerPage: 10, currentPage: p }" [product]="product">
	</app-product>
	<pagination-controls class="products-pagination" (pageChange)="p = $event"></pagination-controls>
</div>