.ui.menu .item img.logo {
    margin-right: 1.5em;
}

form.ui.segment.form {
  background-color: #F1F9FF;
  margin-top: 2em;
}

form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  padding: 1em 0;
  border-radius: 5px;
}

.ui.grid.posts {
  margin-top: 2em;
}

.meta {
  color: #9A9A9A
}

.ui.grid>.row>.column.votes {
  display: flex;
}

ul.ui.list li:before {
  content: '';
}

.voters {
  clear: both;
  width: 100%;
}

.center-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
}

.loader-container {
  position: relative;
  left: -50%;
}

.loader-container > div {
  margin: auto;
}

.loader {
  background: url(images/loader-icon.gif) no-repeat center center;
  width: 124px;
  height: 124px;
}

.popup {
  width: 250px;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 999999;
}

.products-quantity {
  margin-left: 0.5em;
  color: black;
  font-weight: bold;
}

.ng-valid, .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.opacity50 {
  opacity: .1;
}
